<!--Pagina de Agradecimiento-->

  <section class="bg-helper">
    <div class="container-error">
      <div class="email-404">
        <img src="https://i.imgur.com/EbuVLPs.png" alt="Gracias por confiar en nosotros" />
      </div>
      <div class="caption">
        <h1>Gracias por confiar en nosotros :)</h1>
        <p class="centrar">Te contactaremos la antes posible</p>
      </div>
      <div class="btn-group">
        <a class="btn-outline" href="/noticias">Mira nuestras ultimas noticias</a>
        <a class="btn-primary " href="/">Regresa a la pagina de inicio.</a>
      </div>
      <div class="error-code">
        <large>
          Enviado Correctamente
        </large>
      </div>
    </div>
  </section>