  <!-- Pagina 404 -->

  <section class="bg-helper">
    <div class="container-error">
      <div class="email-404">
        <img src="https://i.imgur.com/fdI9YD6.png" alt="Imagen no encontrada" />
      </div>
      <div class="caption">
        <h1>Lo siento, no pudimos encontrar la pagina que buscas :(</h1>
        <p>La página que estás buscando ya no existe, o se ha movido o el enlace está roto. Manténgase actualizado
          visitando nuestra seccion de <a href="/actualidad">Actualidad</a>.</p>
      </div>
      <div class="btn-group">
        <a class="btn-outline" href="/contacto">Ponte en contacto con nosotros</a>
        <a class="btn-primary" href="/">Regresa a la pagina de inicio.</a>
      </div>
      <div class="error-code">
        <large>
          Error Code: 404
        </large>
      </div>
    </div>
  </section>