<!-- Pagina de Noticias -->

<div class="titulo-actualidad dos" id="noticias">
    <h2>Noticias</h2>
</div>

<section id="body-noticias">
    <div class="row ">
        <!-- Inicio de Noticia -->
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.elespectador.com/noticias/economia/anh-advierte-sobre-campana-internacional-en-contra-del-fracking/"
            target="_blank">
            <div class="card">
                <img src="https://i.imgur.com/71qCRQX.png" class="card-img-top" alt="Noticia">
                <div class="card-body">
                    <h5 class="card-title">ANH señaló la existencia de otro tipo de yacimiento no convencional en el
                        país</h5>
                    <p class="card-text">
                        La Agencia Nacional de Hidrocarburos reveló que se trata de un yacimiento conocido como
                        arena bituminosa (abundante en lugares como Canadá), que se encuentra distribuido en seis
                        cuencas y que puede producir entre 16.000 y 23.000 millones de barriles adicionales de
                        crudo.
                    </p>
                </div>
            </div>
        </a>
        <!-- Fin de Noticia -->
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.eleconomista.es/opinion-blogs/noticias/11148469/04/21/Auditoria-y-contabilidad-del-agua-.html"
            target="_blank">
            <div class="card">
                <img src="https://s03.s3c.es/imag/_v0/770x420/f/b/5/rio-agua-mano-770-istock.jpg" class="card-img-top"
                    alt="Noticia">
                <div class="card-body">
                    <h5 class="card-title">Auditoria y contabilidad del agua</h5>
                    <p class="card-text">
                        El 75% de su superficie de nuestro planeta está cubierto de agua, sin embargo hoy en día el
                        acceso al agua no está garantizado. De hecho, solo un 2,3% de la misma es dulce y, de ese
                        porcentaje, solo un 0,3% resulta accesible a la población. El resto es agua salada.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://actualicese.com/ctcp-busca-simplificar-las-normas-de-informacion-financiera-y-de-contabilidad-para-pymes/"
            target="_blank">
            <div class="card">
                <img src="https://actualicese.com/_ig/img/fotos/microempresa-negocio.jpg" class="card-img-top"
                    alt="Noticia">
                <div class="card-body">
                    <h5 class="card-title">CTCP busca simplificar las Normas de Información Financiera y de Contabilidad
                        para Pymes</h5>
                    <p class="card-text">
                        Micro y pequeñas empresas nacionales están asumiendo altos costos para llevar la contabilidad de
                        sus operaciones.
                        Cifras preocupan por la contabilidad de las microempresas y la contratación de un contador.
                        Mediciones globales indican que Colombia es un país complejo en temas contables.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://actualicese.com/el-principal-problema-es-que-las-personas-mas-ricas-de-colombia-pagan-pocos-impuestos/"
            target="_blank">
            <div class="card">
                <img src="https://cdn.actualicese.com/fotos/orlando-villabona.jpg" class="card-img-top"
                    alt="Noticia">
                <div class="card-body">
                    <h5 class="card-title">«El principal problema es que las personas más ricas de Colombia pagan pocos
                        impuestos»</h5>
                    <p class="card-text">
                        Para Jairo Villabona, aumentar el número de contribuyentes en el sistema tributario no es
                        sinónimo de generar un mayor recaudo.
                        Si al dinero que evaden los más ricos en paraísos fiscales se le cobrara el 1 % como impuesto al
                        patrimonio, se generaría un recaudo adicional de 3,7 billones de pesos.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.ctcp.gov.co/noticias/2021/iasb-extendio-por-un-ano-el-periodo-de-aplicacion"
            target="_blank">
            <div class="card">
                <img src="https://www.ctcp.gov.co/CMSPages/GetFile.aspx?guid=a7c71bc5-e1a0-4ff1-8412-652217961d92"
                    class="card-img-top" alt="Noticia">
                <div class="card-body">
                    <h5 class="card-title">IASB extendió por un año el periodo de aplicación de los alivios por Covid-19
                        en la NIIF 16 (arrendamientos)</h5>
                    <p class="card-text">
                        La enmienda transitoria sobre la norma se emitió en mayo de 2020. La decisión se toma ante las
                        diversas solicitudes de los grupos de interés quienes consideran que las implicaciones de la
                        pandemia derivada del Covid-19 aún siguen latentes.
                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.ctcp.gov.co/noticias/2021/el-ctcp-lidera-la-propuesta-modificatoria-al-dur-2"
            target="_blank">
            <div class="card">
                <img src="https://www.ctcp.gov.co/CMSPages/GetFile.aspx?guid=7e5d115d-6f0a-4362-b36f-27e616a96939"
                    class="card-img-top" alt="Noticia">
                <div class="card-body">
                    <h5 class="card-title">El CTCP lidera la propuesta modificatoria al DUR 2420 de 2015</h5>
                    <p class="card-text">
                        El Consejo Técnico ha liderado proyectos de gran representatividad que buscan promover el
                        desarrollo empresarial del país a través del uso de Normas de Información Financiera de Alta
                        Calidad, Transparencia, Comparativas y Exigibles legalmente, observando las mejores prácticas
                        internacionales, de acuerdo al tamaño de las entidades y la complejidad de sus transacciones
                        realizadas.

                    </p>
                </div>
            </div>
        </a>
        <a class="dirreccion col-12 col-md-6 col-lg-4 col-xl-3"
            href="https://www.larepublica.co/especiales/factura-electronica-2021/planes-del-mercado-para-el-servicio-de-facturacion-electronica-arrancan-en-70000-3131744"
            target="_blank">
            <div class="card">
                <img src="https://img.lalr.co/cms/2021/02/25174942/espfacturacionE_anderson_p4.jpg" class="card-img-top"
                    alt="Noticia">
                <div class="card-body">
                    <h5 class="card-title">Planes del mercado para el servicio de facturación electrónica arrancan en
                        $70.000</h5>
                    <p class="card-text">
                        El ecosistema digital ha marcado la pauta en los últimos meses y las empresas no han sido la
                        excepción. La facturación electrónica es la evolución de la factura tradicional y se ha
                        convertido en la nueva forma de soportar las transacciones de venta de bienes o servicios, a
                        través de procesos sistematizados y computacionales.
                    </p>
                </div>
            </div>
        </a>
    </div>
</section>