<!-- Pagina de Servicios -->

<section class="container">
    <!--Outsourcing Presentacion-->
    <div class="presentacion">
        <div class="row">
            <div class="imgservicios col-6">
                <img src="https://i.imgur.com/56rBoGc.png" alt="Servicios Presentacion" />
            </div>
            <div class="titulo-servicios col-6">
                <h1>Servicios</h1>
            </div>
        </div>
    </div>
</section>
<!--Outsourcing-->
<section id="outsourcing-banner">
    <div class="par">
        <div class="container">
            <div class="servicio row">
                <h2>Outsourcing</h2>
                <div class="texto col-sm-12 col-lg-6 ">
                    <p>Para todas las personas jurídicas y naturales obligadas a llevar contabilidad es importante
                        contar
                        con un equipo de trabajo ordenado, eficiente, eficaz, debidamente capacitado y con alto grado de
                        análisis en el proceso contable. Es por esto que P&Q Consultores S.A.S. es el aliado perfecto
                        para
                        dicho proceso ya que no solo llevamos la contabilidad de nuestros clientes, sino que también los
                        apoyamos en la elaboración y análisis de la información financiera para una adecuada toma de
                        decisiones.</p>
                    <div class="beneficios">
                        <ol>
                            <li>
                                Digitación contable.
                            </li>
                            <li>
                                Emisión Estados Financieros.
                            </li>
                            <li>
                                Análisis de cifras.
                            </li>
                            <li>
                                Apoyo a la gerencia en la toma de decisiones.
                            </li>
                            <li>
                                Asesoría en el cumplimiento de las normas vigentes.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="ilustracion1 col-6">
                    <img src="https://i.imgur.com/C6sHfTm.png" alt="Outsourcing" id="animado" title="Outsourcing" />
                </div>
            </div>
        </div>
    </div>
</section>

<!--Aseoria Tributaria-->
<section id="asesoria-tributaria-banner">
    <div class="impar">
        <div class="container">
            <div class="servicio row">
                <h2>Aseoría Tributaria</h2>
                <div class="ilustracion1 col-6">
                    <img src="https://i.imgur.com/hUzoQQL.png" alt="Asesoria Tributaria" id="animado4"
                        title="Outsourcing" />
                </div>
                <div class="texto col-sm-12 col-lg-6 ">
                    <p>Las compañías deben cumplir con su responsabilidad impositiva, por tal razón deben contar con un
                        equipo de profesionales que les asesore no solo en la preparación de sus declaraciones
                        tributarias
                        sino también en el correcto cumplimiento de esta obligación evitando pagos indebidos o
                        sanciones.
                        P&Q Consultores S.A.S. cuenta con un equipo de profesionales que le brinda a nuestro clientes la
                        mejor asesoría tributaria y el acompañamiento adecuado ante las entidades de control fiscal.</p>
                    <div class="beneficios">
                        <ol>
                            <li>
                                Asesoramiento en el cumplimiento de las normas vigentes fiscales.
                            </li>
                            <li>
                                Elaboración de las declaraciones tributarias nacionales y distritales.
                            </li>
                            <li>
                                Elaboración declaración de renta.
                            </li>
                            <li>
                                Elaboración Información exógena nacional y distrital.
                            </li>
                            <li>
                                Solicitud de saldos a favor en impuestos nacionales.
                            </li>
                            <li>
                                Planeación tributaria.
                            </li>
                            <li>
                                Auditoria tributaria.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--Auditoria-->
<section id="auditoria-banner">
    <div class="par">
        <div class="container">
            <div class="servicio row">
                <h2>Auditoría</h2>
                <div class="texto col-sm-12 col-lg-6">
                    <p>El servicio de auditoría brinda a nuestros clientes el apoyo en la implementación, revisión y
                        mejoramiento de su Sistema de Control Interno, apoyados en profesionales que ayuden a la
                        compañía en
                        el control y mejoramiento de sus procesos para mitigar los riesgos inherentes a la entidad,
                        minimizar los costos y maximizar la producción. P&Q Consultores S.A.S. busca apoyar y asesorar a
                        sus
                        clientes para el mejoramiento continuo, para el cumplimiento de sus metas y el incremento su
                        rentabilidad.</p>
                    <div class="beneficios">
                        <ol>
                            <li>
                                Auditoría Externa.
                            </li>

                            <li>
                                Auditoría Interna.
                            </li>

                            <li>
                                Implementación, revisión y mejoramiento del Sistema de Control Interno.
                            </li>

                            <li>
                                Auditoria Operativa.
                            </li>

                            <li>
                                Auditoría Financiera.
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="ilustracion1 col-6">
                    <img src="https://i.imgur.com/Y6VbYtq.png" alt="auditoria" id="animado2" title="Outsourcing" />
                </div>
            </div>
        </div>
    </div>
</section>

<!--Aseoria Cambiaria.-->
<section id="asesoria-cambiaria-banner">
    <div class="impar">
        <div class="container">
            <div class="servicio row">
                <h2>Aseoría Cambiaria</h2>
                <div class="ilustracion1 col-6">
                    <img src="https://i.imgur.com/k1dNgEz.png" alt="Asesoria Cambiaria" id="animado5"
                        title="Outsourcing" />
                </div>
                <div class="texto col-sm-12 col-lg-6">
                    <p>La globalización y los acuerdos comerciales con otros países ha hecho que las empresas
                        colombianas
                        exploren mercados internacionales y abran sus mercados y relaciones comerciales, de tal manera
                        que
                        se materialicen los negocios con otros países. De tal manera que es de vital importancia conocer
                        y
                        aplicar correctamente la reglamentación vigente en Colombia y en el exterior a nivel cambiario.
                        P&Q
                        Consultores S.A.S. ofrece a sus clientes un acompañamiento desde el inicio al final de la
                        negociación con otros países y el debido cumplimiento de las obligaciones cambiaras en Colombia,
                        evitando errores en el cumplimiento y futuras sanciones.</p>
                    <div class="beneficios">
                        <ol>
                            <li>
                                Acompañamiento cambiario y de negocios internacionales.
                            </li>

                            <li>
                                Auditoría Cambiaria.
                            </li>

                            <li>
                                Elaboración de informes periódicos de acuerdo a la normatividad vigente.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Revisoria Fiscal.-->
<section id="revisoria-fiscal-banner">
    <div class="par">
        <div class="container">
            <div class="servicio row">
                <h2>Revisoria Fiscal</h2>
                <div class="texto col-sm-12 col-lg-6">
                    <p>P&Q Consultores S.A.S., busca que el servicio de Revisoría Fiscal pase de ser un simple requisito
                        para las empresas a ser un aliado en la planeación estratégica de la compañía y en el control
                        adecuado de sus operaciones no solo a nivel contable, sino también a nivel jurídico, fiscal,
                        laboral, etc. También buscamos ser un apoyo para la toma de decisiones y mejoramiento continuo
                        de
                        nuestros clientes.</p>
                </div>
                <div class="ilustracion1 col-6">
                    <img src="https://i.imgur.com/gDxsdgR.png" alt="Revisoria Fiscal" id="animado3"
                        title="Outsourcing" />
                </div>
            </div>
        </div>
    </div>
</section>