<!-- Pagina de Inicio -->

<!--Carusel de Imagenes-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <!--Rectangulo Amarillo-->
    <div class="amarillo">
        <p>100% Cumplimiento contable y tributario.</p>
    </div>
    <!--Carusel-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.imgur.com/MrgvLWj.jpg" class="d-block w-100" alt="...">
            <div class="abajo">
                <div class="carousel-caption d-none d-md-block">
                    <h5>CALIDAD Y EXPERIENCIA</h5>
                    <p>Ambito contable, tributario, cambiario y financiero.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.imgur.com/wEfhxys.jpg" class="d-block w-100" alt="...">
            <div class="arriba">
                <div class="carousel-caption d-none d-md-block">
                    <h5>PROFESIONALES INTERDISCIPLINARIOS</h5>
                    <p>Altamente capacitados para cumplir expectativas.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i.imgur.com/Y8lwEys.jpg" class="d-block w-100 woman" alt="...">
            <div class="derecha">
                <div class="carousel-caption d-none d-md-block">
                    <h5>SERVICIO INTEGRAL</h5>
                    <p>Mediante trabajo, disciplina, responsabilidad, esfuerzo y compromiso.</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Info General -->

<main>
    <div class="servicios-seccion">
        <div class="container">

            <h1 class="subtitulo text-center" id="nosotros-banner"><span>Nosotros</span></h1>
            <div class="somos row">
                <div class="texto-nosotros col-sm-12 col-lg-6">
                    <h3 class="text-center min-titulos"><span>¿Quienes Somos?</span></h3>
                    <div class="texto-empresarial">
                        <p>P&Q Consultores S.A.S. es una empresa que ofrece a sus clientes un servicio de
                            calidad y experiencia en el ámbito contable, tributario, cambiario y financiero.</p>
                        <p>Estamos conformados por un grupo de profesionales interdisciplinarios, altamente
                            capacitados para cumplir las expectativas de nuestros clientes, ofreciendo un
                            trabajo integral mediante disciplina, responsabilidad, esfuerzo y compromiso.</p>
                        <p>Buscamos siempre prestar un servicio integral, mediante trabajo, disciplina,
                            responsabilidad, esfuerzo, cumplimiento y respeto.</p>
                    </div>
                </div>
                <div class="ilustracion1 col-sm-8 col-lg-6">
                    <img src="https://i.imgur.com/p5M3MQ0.png" alt="Nosotros" id="animado"
                        title="Nosotros" />
                </div>
            </div>
        </div>
    </div>
    <section class="nosotros-vector">
        <div class="container">
            <div class="servicio row">

                <div class="ilustracion1 col-6">
                    <img src="https://i.imgur.com/FERevbE.png" alt="Nosotros" id="animado4"/>
                </div>
                <div class="texto-nosotros col-sm-12 col-lg-6 ">
                    <h3 class="text-center min-titulos-2"><span>Misión</span> <img class="icono"
                            src="https://i.imgur.com/YqLvnHV.png" alt="Mision" title="Mision" /> </h3>
                    <div class="texto-empresarial">
                        <p>Prestar servicios de Outsourcing Contable, Asesorías Tributarias, Cambiarias, Financieras y
                            Revisoría Fiscal dirigidos a todos los sectores económicos, teniendo en cuenta el
                            cumplimiento
                            de la normatividad vigente a nivel nacional e internacional. Siempre con respeto,
                            honestidad y
                            prontitud en los requerimientos de nuestros clientes.</p>
                    </div>
                    <h3 class="text-center min-titulos-2"><span>Visión</span><img class="icono"
                            src="https://i.imgur.com/V0A4PIG.png" alt="Vision" title="Vision" /></h3>
                    <div class="texto-empresarial">
                        <p>P&Q Consultores S.A.S en los próximos diez años será una Firma reconocida en cumplimiento y
                            calidad para los distintos sectores económicos de Colombia en la prestación de servicios
                            Contables, Tributarios, Cambiarios y Financieros.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Botones de Hacia la Pagina de Servicios -->

<section class="container">
    <h1 class="subtitulo text-center" id="banner-servicios"><span>Servicios</span></h1>
    <div class="contenido row text-center">

        <div class="col-12 col-md-6 col-xl-4 servicios">
            <figure>
                <img src="https://i.imgur.com/rK7eeJl.jpg" alt="OpenSourcing">
                <div class="capa">
                    <a id="botones-inicio" href="/servicios/#outsourcing-banner">
                        <h5>Oursourcing<h5>
                                <p>Para todas las personas jurídicas y
                                    naturales obligadas a llevar contabilidad es importante...</p>
                    </a>
                </div>
            </figure>
            <h5>Outsourcing</h5>
        </div>

        <div class="col-12 col-md-6 col-xl-4  servicios">
            <figure>
                <img src="https://i.imgur.com/OvP92dk.jpg" alt="Asesoría Tributaria"
                    href="/servicios/#asesoria-tributaria-banner">
                <div class="capa" href="/servicios/#asesoria-tributaria-banner">
                    <a id="botones-inicio" href="/servicios/#asesoria-tributaria-banner">
                        <h5>Asesoria Tributaria<h5>
                                <p>Las compañías deben cumplir con su responsabilidad impositiva, por tal razón...</p>
                    </a>
                </div>
            </figure>
            <h5>Asesoría Tributaria</h5>
        </div>

        <div class="col-12 col-md-6 col-xl-4  servicios" href="/servicios#auditoria-banner">
            <figure>
                <img src="https://i.imgur.com/e9P8zh7.jpg" alt="Auditoria" href="/servicios#auditoria-banner">
                <div class="capa" href="/servicios#auditoria-banner">
                    <a id="botones-inicio" href="/servicios#auditoria-banner">
                        <h5>Auditoria<h5>
                                <p>El servicio de auditoría brinda a nuestros clientes el apoyo en la implementación,
                                    revisión...</p>
                    </a>
                </div>
            </figure>
            <h5>Auditoria</h5>
        </div>

        <div class="col-12 col-md-6 col-xl-4  servicios">
            <figure>
                <img src="https://i.imgur.com/eA7oDf4.jpg" alt="Asesoría Cambiaria">
                <div class="capa">
                    <a href="/servicios#asesoria-cambiaria-banner" id="botones-inicio">
                        <h5>Aseoría Cambiaria<h5>
                                <p>La globalización y los acuerdos comerciales con otros países ha hecho que las
                                    empresas...</p>
                    </a>
                </div>
            </figure>
            <h5>Asesoría Cambiaria</h5>
        </div>

        <div class="col-12 col-md-6 col-xl-4  servicios">
            <figure>
                <img src="https://i.imgur.com/qoRU7oQ.jpg" alt="Revisoría Fiscal">
                <div class="capa">
                    <a href="/servicios#revisoria-fiscal-banner" id="botones-inicio">
                        <h5>Revisoria Fiscal<h5>
                                <p>P&Q Consultores S.A.S., busca que el servicio de Revisoría Fiscal pase de ser un
                                    simple...</p>
                    </a>
                </div>
            </figure>
            <h5>Revisoría Fiscal</h5>
        </div>

        <div class="col-12 col-md-6 col-xl-4  servicios">
            <figure>
                <img src="https://i.imgur.com/iPpakDJ.jpg" alt="Consultoria">
                <div class="capa">
                    <a id="botones-inicio" href="/contacto">
                        <h5>Consultoria<h5>
                                <p>P&Q Contamos con los mejores profesionales en la Consultoria Tributaria, te
                                    esperemos...</p>
                    </a>
                </div>
            </figure>
            <h5>Consultoria</h5>
        </div>
    </div>
</section>