<!-- Footer-->

<div class="llamanos">
    <div class="container">
        <div class="row">
            <div class="titulo-llamanos col-12 col-md-8">
                <h1>¡Contáctanos y mejora tus <br><span>procesos financieros!</span></h1>
            </div>

            <div class="boton-llamanos col-12 col-md-4">
                <a href="/contacto">
                    <div class="boton">
                        <p>Llamanos</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<footer>
    <!--Poner Imagen-->
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 log">
            <h4>Acerca de nosotros</h4>
            <p>P&Q Consultores S.A.S. es una empresa que ofrece a sus clientes un servicio de calidad y experiencia
                en
                el ámbito contable, tributario, cambiario y financiero.</p>
            <ul class="sci">
                <li><a href="https://www.facebook.com/PQ-Consultores-103499955203834" target="_blank"><i
                            class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/pqconsultores/?hl=es-la" target="_blank"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/ConsultoresQ" target="_blank"><i class="fa fa-twitter"
                            aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/onboarding/start/people-you-may-know/new/" target="_blank"><i
                            class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 links">
            <h4>Enlaces rapidos</h4>
            <ul>
                <li><a class="nav-link active" aria-current="page" href="/">Inicio</a></li>
                <li><a class="nav-link" href="/#nosotros-banner">Nosotros</a></li>
                <li><a class="dropdown-item" href="/servicios">Servicios</a></li>
                <li><a class="nav-link" href="/calendario">Calendario Tributario</a></li>
                <li><a class="nav-link" href="/contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 contact">
            <h4>Contacto</h4>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span>Calle 20C No. 93 - 25 Bl-3 Ap 402</span>
                </li>
                <li>
                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    <span>diana.parga@pyqconsultores.com</span>
                </li>
                <li>
                    <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                    <span>Tel. +57 703 1567 <br>⠀⠀ ⠀Cel. +57 318 391 7672</span>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-2 col-lg-2 imagen">
            <img src="https://i.imgur.com/luPRLgB.png" alt="PyQConsultoresLogo" title="Logo" />
        </div>
        <div class="derechos">
            <p><a href="/contacto/proteccion-datos" target="_blank">
                    <p>@2021 P&Q consultores • Avisos legales</p>
                </a></p>
        </div>
    </div>
</footer>