<!doctype HTML>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Authors -->
    <meta name="author" content="Carlos Stiven Mora Hoyos">
    <meta name="author" content="Fabian David Flores Parga">
    <meta name="author" content="Sergio Ivan Cárdenas Sarmiento">
    <meta name="copyright" content="Derechos de propiedad reservados a P&Q consultores" />

    <!-- Others links -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/error.css">
    <meta name="description" content="Pagina oficial de PyG consultores" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.7/dist/boxicons.js' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://i.imgur.com/gRIaqhc.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <title>P&Q Consultores</title>
</head>
<body>

    {{> navigation }}
    {{{ body }}}
    {{> boton-top }}
    {{> footer }}

    <!-- Scripts -->
    <!-- Fonts Usadas -->
    <script src="https://kit.fontawesome.com/a34ad63ae5.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
    <!-- Iconos -->
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <!-- Api Google Maps -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=#echo var="API_KEY"&callback=iniciarMap"></script>
    <!-- Js -->
    <script src="script.js"></script>
</body>
</html>